global
    daemon

frontend http_front
    bind *:80

    acl is_api path_beg /api

    use_backend java_backend if is_api
    default_backend apache_frontend

backend apache_frontend
    server apache apache:80

backend java_backend
    server java-app java-app:8080
